/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, lengend, button, input, textarea, /* form elements 表单元素 */
th, td { /* table elements 表格元素 */
    margin: 0;
    padding: 0;
}

/* 设置默认字体 */
body,
button, input, select, textarea { /* for ie */
    /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
    font: 12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
}

h1 { font-size: 18px; /* 18px / 12px = 1.5 */ }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }

address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/* 重置列表元素 */
ul, ol { list-style: none; }

/* 重置文本格式元素 */
a { text-decoration: none; }
a:hover { text-decoration: underline; }

abbr[title], acronym[title] { /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
border-bottom: 1px dotted;
cursor: help;
}

q:before, q:after { content: ''; }

/* 重置表单元素 */
legend { color: #000; } /* for ie6 */
fieldset, img { border: none; } /* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button, input, select, textarea {
    font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}

/* 重置表格元素 */
table {
border-collapse: collapse;
border-spacing: 0;
}

/* 重置 hr */
hr {
    border: none;
    height: 1px;
}

@font-face {
    font-family: 'cwTeXYen';
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.eot);
    src: url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.eot?#iefix) format('embedded-opentype'),
         url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.woff) format('woff'),
         url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.ttf) format('truetype');
  }




.intro_img{
    color: #000;
    background-image:url('./img/introJPG.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 900px;
}

.intro_content{
    min-height: 900px;
    
}

.intro_topic{
    position: absolute;
    top: 200px; /* 将元素的顶部移动到父容器的中间位置 */
    left: 100px; /* 将元素的左侧移动到父容器的中间位置 */
    /*transform: translate(-50%, -50%); /* 使用transform来水平和垂直居中 */
    font-size: 600%;
    font-family: 'Dela Gothic One', cursive;
    color: white;
    font-weight: bold;
    text-align: left;
}

.intro_topic_1{
    position: absolute;
    top: 280px; /* 将元素的顶部移动到父容器的中间位置 */
    left: 100px; /* 将元素的左侧移动到父容器的中间位置 */
    /*transform: translate(-50%, -50%); /* 使用transform来水平和垂直居中 */
    font-size: 50px;
    font-family: cwTeXYen;
    color: white;
    font-weight: bold;
    text-align: left;
}

.intro_topic_2{
    position: absolute;
    top: 840px; /* 将元素的顶部移动到父容器的中间位置 */
    right: 50px; /* 将元素的左侧移动到父容器的中间位置 */
    /*transform: translate(-50%, -50%); /* 使用transform来水平和垂直居中 */
    font-size: 30px;
    font-family: cwTeXYen;
    color: white;
    font-weight: bold;
    text-align: right;
}

.intro_topic_social{
    position: absolute;
    top: 330px; /* 将元素的顶部移动到父容器的中间位置 */
    left: 100px; /* 将元素的左侧移动到父容器的中间位置 */
    /*transform: translate(-50%, -50%); /* 使用transform来水平和垂直居中 */
    font-size: 30px;
    font-family: cwTeXYen;
    /*ackground-color: #fed2de;*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.page-container{
    background-color: #fffcfa;
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

/* 选项卡容器 */
.tab-container {
    display: flex;
    width: 70%;
    margin: 0 auto;
}

/* 选项按钮样式 */
.tab-button {
    flex: 1;
    text-align: center;
    margin: 5px;
}


/* 选项按钮样式 */
.tab-button .button-label {
    display: block;
    padding: 5px;
    background-color: #2333cb;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: cwTeXYen;
    font-size: 25px;
    text-decoration: none;

}

.tab-button .button-label-main {
    display: block;
    padding: 5px;
    background-color: #1a2697;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: cwTeXYen;
    font-size: 25px;
    text-decoration: none;

}

/* 选项按钮悬停时的样式 */
.tab-button .button-label:hover {
    background-color: #314ba7;
}

.tab-button .button-label-main:hover {
    background-color: #314ba7;
}

.tab-describe{
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 15px;
    background-color: #fffcfa;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}   

.social-media-image {
    display: flex;
    justify-content: center;
    padding: 0px;
}

.social-media-image-img {
    width: 55px;
    height: 55px;
    padding-left: 5px;
    padding-right: 5px;
}

.social-media-image-img img{
    width:100%;
    padding: 0px;
    
    
}


.about-blank{
    height: 100px;
    background-color: #fffcfa;
}

.about-content{
    height: 200px;
    background-color: #fffcfa;
}

.about-content-1{
    text-align: center; /* 水平居中容器内的文本 */
    font-size: 20px;
    font-weight: bold;
    font-family: 'Noto Sans TC', sans-serif;
    margin-bottom: 10px;
}
.about-content-2{
    text-align: center; /* 水平居中容器内的文本 */
    font-size: 40px;
    font-weight: bold;
    font-family: 'Noto Sans TC', sans-serif;
}
.about-content-3{
    margin-top: 10px;
    text-align: center; /* 水平居中容器内的文本 */
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
}

.HBD-container{
    background-color: #fffcfa;
    height: 1000px;
}

/* 三列布局容器 */
.person {
    display: flex;
    width: 50%;
    margin: 0 auto;
}

/* 列样式 */
.column {
    flex: 1; /* 使三列平均宽度 */
    padding: 3%;
    text-align: center;
    border-width: 5px;
    font-size: 180%;
    font-family: 'Noto Sans TC', sans-serif;
}


.column-middle{
    border-left: 3px #d5d5d5 solid;
    border-right: 3px #d5d5d5 solid;
}

.column-right{
    
    border-right: 3px #d5d5d5 solid;
}

.end {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
}